[user]
	name = Kuba Marek
	email = blue.cube@seznam.cz
[branch "master"]
	remote = origin
	merge = refs/heads/master
[branch "main"]
	remote = origin
	merge = refs/heads/main
[diff]
	algorithm = histogram
[push]
	default = upstream
	followTags = true
[pull]
	ff = only
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
