[user]
	name = Kuba Marek
	email = blue.cube@seznam.cz
[branch "master"]
	remote = origin
	merge = refs/heads/master
[diff]
	tool = gvimdiff
	algorithm = histogram
[push]
	default = upstream
	followTags = true
[gui]
	gcwarning = false
	diffopts = --histogram
[pull]
	ff = only
